body {
    background-color: #404048;
    color : white;
    transition: background-color 0.5s, color 0.5s;
}
p{
    text-align: block;
}
img{
    margin: auto;
}


.container {
    background-color: #11151c;
    width: 70%;
    padding: 5px;
    margin: auto;
    position: relative;
    top: 10px;
    transition: background-color 0.5s, color 0.5s;
}
.container h1 {
    text-align: center;
}
.container p {
    text-align: justify;
    padding: 0px 10px;
}

.header {
    padding: 5px 10px;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 70%;
    margin: auto;
    position: sticky;
    background-color: #404048;
    transition: background-color 0.5s, color 0.5s;
}
.button {
    background-color: #BFACB5;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.5s;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px #756A7D;
    box-shadow: 4px 4px 8px #010101(0.5, 0.5, 0.5, 0.5);
    padding: 10px 0;
    width: 24.8%;
    border: #66707a solid 2px;
    margin: auto;
    transition: background-color 0.5s, color 0.5s;
}

.button:hover {
    background-color: #505860;
    color: #0B132B;
}

/* .button :hover{
    background-color: #5bc0b5;
    z-index: 3;
} */


.current {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 24.3%;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px #756A7D;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    border: #66707a solid 2px;
    background-image: linear-gradient(to right, #505860, #505860);
    margin: auto;
    transition: background-color 0.5s, color 0.5s;
}

.performance {
    background-color: #3a506b;
    color: white;
    border: #66707a solid 2px;
    width: 70%;
    margin: auto;
}
.performance td {
    padding: 5px;
    border: 1px solid white;
}
.performance th {
    padding: 5px;
    border: 1px solid white;
    background-color: grey;
    color: white;
}

.textbox{
    border: #66707a solid 2px;
    padding: 5px;
    margin: auto;
}

.silver_S15 {
    width: 99.56%;
    margin: auto;
    position: relative;
    top: 10px;    
    border: #66707a solid 2px;
}

.models_images{
    width: 99.56%;
    margin: auto;
    position: relative;
    top: 10px;    
    border: #0B132B solid 2px;
}

.underimage_text{
    opacity: 0.6;
    position: relative;
    top: -10px;    
    left: -7px;
    margin: auto;
}

.dimensions_table{
    border: 2px solid #0B132B;    
}
.dimensions_table td{
    padding: 5px;
    border: 1px solid white;
}
.dimensions_table th{
    padding: 5px;
    border: 1px solid white;
    background-color: grey;
    color: white;
}

.motor_table {
    border: 2px solid #0B132B;
}
.motor_table td{
    padding: 5px;
    border: 1px solid white;
}
.motor_table th {
    padding: 5px;
    border: 1px solid white;
    background-color: grey;
    color: white;
}
/* .up{
    padding: 5px;
    position: fixed;
    background-color: white;
    margin: -20px 630px;
    border: 2px solid yellow;
    border-radius: 100px;
    width: 36px;
    text-decoration: none;
    
}
.up :hover{
    background-color: #5bc0b5;
    color: #0B132B;
    text-decoration: none;
} */


.button_more {
    background-color:  #1c2541;
    border: 2px solid white;
    border-radius: 10px;
    padding: 3px;
    text-decoration: none;
    color: white;
    position: absolute;
    right: 3px;
    width: 60px;
    height: 12px;
    text-align: center;
    font-size: 14px;
    margin: auto;
    transition: background-color 0.5s, color 0.5s;
}
.button_more:hover {
    background-image: linear-gradient(to right, #5bc0b5, #0b132b);
    text-decoration: none;
}

.up_button{
    margin: auto;
    padding: 5px;
    text-align: center;
    margin: auto;
    width: 30px;
    height: 20px;
    font-size: 30px;
    text-decoration: none;
    position: fixed;
    right: 15px;
    bottom: 25px;
    z-index: 10;
}

.up_button:hover{
    background-color: #5bc0b5;
}

.table_box{
    border: #0B132B solid 2px;
    padding: 5px;
    margin: auto;
    text-align: left;
}

.footer {
    background-color: #404048;
    color: white;
    margin: auto;
    position: relative;
    bottom: -10px;
    width: 100%;
    left: -8px;
    padding: 15px;
    transition: background-color 0.5s, color 0.5s;
}
.footer .button{
    margin: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    width: 33%;
}
.undersource_text{
    opacity: 0.6;
    margin: auto;
}

.lightmode {
    background-color: #EDE6E3;
    transition: background-color 0.5s, color 0.5s;
    color: black;
    
}
.lightmode .container {
    transition: background-color 0.5s, color 0.5s;
        background-color: #DADAD9;
}
.lightmode .header {
    background-color: #EDE6E3;
    color: black;
    transition: background-color 0.5s, color 0.5s;
}

.lightmode .button {
    background-color: #DADAD9;
    color: #785964;
    border: 2px solid #BFACB5;
    transition: background-color 0.5s, color 0.5s;
}
.lightmode .current {
    color: #785964;
    border: 2px solid #BFACB5;
    background-image: linear-gradient(to right, #BFACB5, #BFACB5);
    transition: background-color 0.5s, color 0.5s;
}
.lightmode .button_more {
    background-color: #DADAD9;
    border: 2px solid #BFACB5;
    color: black;
}
.lightmode .button:hover {
    background-color: #BFACB5;
    color: #7F7B82;
}
.lightmode .button_more:hover {
    background-image: linear-gradient(to right, #BFACB5, #785964);
    color: black;
}
.lightmode .footer {
    background-color: #EDE6E3;
}




.light_dark {
    background-color: #3a506b;
    color: black;
    z-index: 11;
    position: fixed;
    border: #3a506b solid 2px;
    border-radius: 20px;
}

.lightmode .light_dark {
    background-color: #785964;
    color: black;
    z-index: 11;
    position: fixed;
    border: #785964 solid 2px;
    border-radius: 20px;
}
.icon {
    z-index: 7;
    
}

.circle {
    width: 26.4px;
    height: 20px;
    border-radius: 42%;
    background-color: #BFACB5;
    position: fixed;
    top: 9.5px;
    left: 35px;
    cursor: pointer;
    z-index: 5;
}

.lightmode .circle {
    background-color: #BFACB5;
    position: fixed;
    top: 9.5px;
    left: 10px;
    cursor: pointer;
    z-index: 5;
    
}




