body {
    background-color: black;
    color: white;
}
.container {
    background-color: rgb(58, 58, 58);
    width: 70%;
    padding: 5px;
    border: white 1px solid;
    margin: auto;
    position: relative;
    top: 100px;
}
.container h1 {
    text-align: center;
}
.container p {
    text-align: justify;
}

.header {
    background-color: rgb(58, 58, 58);
    width: 100%;
    padding: 5px;
    border: white 1px solid;
    position: fixed;
    top: 0;
}